@font-face {
  font-family: Roboto;
  font-weight: 100;
  src: url('../public/Roboto-Thin.ttf');
}
@font-face {
  font-family: Roboto;
  font-weight: 300;
  src: url('../public/Roboto-Light.ttf');
}
@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url('../public/Roboto-Medium.ttf');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('min.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body,
input,
button {
  font-family: Roboto;
  font-weight: 300;
  color: #fff;
}

.App {
  padding: 10px 16px;
  min-width: 500px;
  background: rgba(168, 168, 168, 0.123);
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.068);
}

@media screen and (max-width: 425px) {
  .App {
    min-width: unset;
  }
}
@media screen and (max-width: 375px) {
  .listEntry-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  .App {
    min-width: unset;
  }
}
@media screen and (max-width: 375px) {
  .listEntry-container {
    flex-direction: column;
  }
}

h2 {
  font-weight: 400;
  font-size: 2.5em;
}
.list-container,
.lists-entry {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.newEntry-container {
  margin-bottom: 20px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.294);
}
.newEntry-container,
.listEntry-container,
.lists-entry {
  width: 100%;
}

.newEntry-container form,
.listEntry-container,
.listEntry-container form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  animation: slidein 0.5s forwards;
}
@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
input {
  border: none;
  border-radius: 4px;
  flex: 1;
  padding: 0 5px;
  transition: 0.4s ease;
  margin-right: 4px;
  color: black;
  background-color: rgba(255, 255, 255, 0.322);
}
input:focus {
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background-color: rgba(255, 255, 255, 0.651);
}
button {
  border: none;
  outline: none;
  margin: 2px;
  padding: 5px 7px;
  border-radius: 4px;
  transition: 0.4s ease;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.192);
}
button:hover {
  background-color: rgba(255, 255, 255, 0.651);
  cursor: pointer;
  color: black;
}

span,
button,
input {
  font-size: 1.2em;
}
